In [7]:
#搜尋值
import pandas as pd
dataFrame1 = pd.read_csv('學生成績.csv.csv')
dataFrame1.index = dataFrame1['姓名']
dataFrame2 = dataFrame1.drop(columns='姓名')
dataFrame2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50 entries, 楊易政 to 李政成
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   國文      50 non-null     int64
 1   英文      50 non-null     int64
 2   數學      50 non-null     int64
 3   地理      50 non-null     int64
 4   歷史      50 non-null     int64
dtypes: int64(5)
memory usage: 2.3+ KB

In [8]:
#國文成績不及格的,使用query
dataFrame2.query('國文<60')

     國文  英文  數學   地理  歷史
姓名
林志成  51  60  84  100  75
張慧君  54  94  61   81  63
陳美惠  56  79  76   86  90
林思賢  59  78  93   64  67
游倫城  55  66  81   69  88
游淑惠  54  80  93   51  92
藍哲嘉  55  51  74   66  71
陳信宏  50  54  64   93  88
簡國瑋  55  70  64  100  55

In [9]:
#國文成績或者英文不及格的,subscript
dataFrame2[(dataFrame2['國文'] < 60) | (dataFrame2['英文'] < 60)]

     國文  英文  數學   地理   歷史
姓名
楊易政  61  51  53   54   64
林志成  51  60  84  100   75
元延辛  93  50  99   91  100
童建霖  81  53  52   80   73
趙宛真  96  53  99   85   93
張慧君  54  94  61   81   63
陳美惠  56  79  76   86   90
林思賢  59  78  93   64   67
游倫城  55  66  81   69   88
吳昕婷  98  52  86   86   84
鄧淑娟  77  58  66   95   67
游淑惠  54  80  93   51   92
藍哲嘉  55  51  74   66   71
陳信宏  50  54  64   93   88
簡國瑋  55  70  64  100   55
李政成  89  54  92   86   78

In [10]:
#國文成績或者英文不及格的,query()
dataFrame2.query('國文<60 or 英文<60')

     國文  英文  數學   地理   歷史
姓名
楊易政  61  51  53   54   64
林志成  51  60  84  100   75
元延辛  93  50  99   91  100
童建霖  81  53  52   80   73
趙宛真  96  53  99   85   93
張慧君  54  94  61   81   63
陳美惠  56  79  76   86   90
林思賢  59  78  93   64   67
游倫城  55  66  81   69   88
吳昕婷  98  52  86   86   84
鄧淑娟  77  58  66   95   67
游淑惠  54  80  93   51   92
藍哲嘉  55  51  74   66   71
陳信宏  50  54  64   93   88
簡國瑋  55  70  64  100   55
李政成  89  54  92   86   78

In [11]:
#國文成績和英文同時不及格的,query()
dataFrame2.query('國文<60 and 英文<60')

     國文  英文  數學  地理  歷史
姓名
藍哲嘉  55  51  74  66  71
陳信宏  50  54  64  93  88